@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #f0f0f0;
    margin: 20px;
    flex-direction: column;
}


/* Contenedor centrado */
.center-container {
    padding: 0 5rem;
}

#grid {
    width: 100%;
}

h1 {
    text-align: center;
    color: #00ff99;
    margin-bottom: 20px;
    font-size: 4em;
    font-family: "VT323", monospace;
}


#search {
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #f0f0f0;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    /* 3 columnas */
    gap: 10px;
    margin-top: 20px;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
}

.header {
    background-color: #333;
    color: #00ff99;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #444;
    text-align: center;
}

.row .item {
    background-color: #2a2a2a;
    padding: 10px;
    border: 1px solid #444;
}

code {
    background-color: #333;
    padding: 2px 5px;
    border-radius: 4px;
    color: #00ff99;
    transition: .4s;
}

.code:hover>code {
    background-color: #1e1e1e;
}